<p>order works!</p>
<div class="grid grid-cols-5 p-10">
    <!-- <div class="col-span-2  ">
        <div class="grid grid-cols-2 gap-y-4">
            <div *ngFor="let p of countCard" class="w-3/4 ">
                <div class="bg-green-300 flex justify-around items-center p-4 rounded-lg">
                    <div>{{p.product.name}}</div>
                    <div class="w-7 text-center rounded-full bg-green-400">{{p.count}}</div>
                </div>
            </div>
        </div>
        <br />
        <div>

            Total a Pagar: {{pay()}}
            <button (click)="payed()" class="btn bg-slate-500 p-4 w-full rounded-lg hover:bg-slate-300">Pagar</button>

        </div>

    -->
        <!-- <app-product [id]="proveedor.id" (success)="onSaveNewProduct($event)"></app-product> --> -->
    <!-- </div>
    <div class="grid grid-cols-3 col-span-3">
        <div *ngFor="let p of productCards" (click)="addCard(p)" class="m-4 h-72 cursor-pointer">
            <app-card [product]="p"></app-card>
        </div>  
    </div>-->
</div>
